.login , .registration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration{
    .box{
        width: 480px;
        height: 480px;
    }
}

.box {
  position: relative;
  width: 480px;
  height: 380px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(
      0deg,
      transparent,
      transparent,
      rgb(132, 191, 65),
      rgb(132, 191, 65),
      rgb(132, 191, 65)
    );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(
      0deg,
      transparent,
      transparent,
      rgb(132, 191, 65),
      rgb(132, 191, 65),
      rgb(132, 191, 65)
    );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }

  .borderLine {
    position: absolute;
    top: 0;
    inset: 0;
    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 420px;
      background: linear-gradient(
        0deg,
        transparent,
        transparent,
        rgb(132, 191, 65),
        rgb(132, 191, 65),
        rgb(132, 191, 65)
      );
      z-index: 1;
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
      animation-delay: -1.5s;
    }
    &::after {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 420px;
      background: linear-gradient(
        0deg,
        transparent,
        transparent,
        rgb(132, 191, 65),
        rgb(132, 191, 65),
        rgb(132, 191, 65)
      );
      z-index: 1;
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
      animation-delay: -4.5s;
    }
  }
  form {
    position: absolute;
    inset: 4px;
    background: #fff;
    padding: 50px 85px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    h2 {
      color: #000;
      text-align: center;
      letter-spacing: 0.1em;
    }
    .inputBox {
      position: relative;
      width: 300px;
      margin-top: 10px;
      input {
        position: relative;
        width: 100%;
        padding: 2px;
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
      }
      span {
        position: absolute;
        left: 0;
        padding: 20px 0px 10px;
        pointer-events: none;
        color: #8f8f8f;
        font-size: 1em;
        letter-spacing: 0.05em;
        transform: 0.5s;
      }
      i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: rgb(132, 191, 65);
        border-radius: 2px;
        overflow: hidden;
        transition: 0.5s;
        pointer-events: none;
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      a {
        margin: 10px 0;
        font-size: 0.75em;
        color: #8f8f8f;
        text-decoration: none;
      }
    }
    button {
      border: none;
      outline: none;
      padding: 4px 5px;
      background: rgb(132, 191, 65);
      color: #fff;
      cursor: pointer;
      font-size: 0.9em;
      border-radius: 4px;
      font-weight: 600;
      width: 100px;
      margin-top: 10px;
    }
  }
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}

.box form .links a:hover,
.box form .links a:nth-child(2) {
  color: rgb(132, 191, 65);
}

.box form input:active {
  opacity: 0.8;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
