.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
  color: #666;
  text-decoration: none !important;
  &:hover {
    color: #2fdb00 !important;
  }
  &:active {
    color: #2fdb00 !important;
  }
}
a.nav-link {
  color: #666;

  &:hover {
    background-size: 100%;
    --fill-color:#2fdb00 ;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 100 16px Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.3s linear;
  }
}

a.nav-link {
  color: #666;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
    color: #2fdb00 !important;
  }
  &:active {
    text-decoration: none !important;
    color: #2fdb00 !important;
  }
}

.header {
  width: 100%;
  margin-bottom: 20px;

  .container {
    .button-container {
      button {
        margin-top: 20px;
        position: relative;
        padding: 10px 20px;
        background: rgb(108, 195, 46);
        text-transform: uppercase;
        margin-left: 20px;
        color: #fff;
        border: none;
        font-weight: 500;
        font-size: 16px;
        border-radius: 5px;

      }
    }
  }
}

.inputBox {
  margin-top: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  input {
    width: 321px;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    margin-top: 10px;
    background-color: transparent;
    border-bottom: 2px solid rgb(108, 195, 46);
    outline: none;
    padding: 5px;
    &::placeholder {
      font-size: 15px;
      color: #66666676;
    }
  }
  a {
    .search {
      color: rgb(108, 195, 46);
      font-size: 18px;
    }
  }
}

//footer

.footer {
  background-color: rgb(108, 195, 46);
  color: #fff;
  width: 100%;
  // height: 300px;
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
    margin-bottom: 10px;
    cursor: pointer;

    .info {
      width: 150px;
      height: 120px;
      h3 {
        transition: 0.5s;
        &:hover {
          color: #000;
          cursor: pointer;
        }
      }
    }
    .f-shop {
      width: 200px;
      height: 120px;
      h3 {
        transition: 0.5s;
        &:hover {
          color: #000;
          cursor: pointer;
        }
      }
    }
    .f-about {
      width: 200px;
      height: 120px;
      h3 {
        transition: 0.5s;
        &:hover {
          color: #000;
          cursor: pointer;
        }
      }
    }
    ul {
      padding-left: 0;
      li {
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        transition: 0.5s;
        &:hover {
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
  .f-down {
    margin-top: 60px;
    font-size: 10px;
  }
}

.application {
  border: 1px solid rgb(201, 205, 207);
  width: 52%;
  padding: 5px 11px;
  background-color: light;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin: 3px 5px;

  .iconappstore {
    background-image: url(https://arazmarket.az/site/assets/files/1312/app-store.svg);
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;

    &:hover {
      color: rgb(154, 154, 154);
    }
  }
  .icongoogleplay {
    background-image: url(https://arazmarket.az/site/assets/files/1313/google-play.svg);
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;

    &:hover {
      color: rgb(154, 154, 154);
    }
  }

  .download {
    font-size: 10px;
    color: #b5b5b5;

    &:hover {
      color: rgb(154, 154, 154);
    }
  }

  .app {
    font-size: 15px;
    color: #b5b5b5;

    &:hover {
      color: rgb(154, 154, 154);
    }
  }
}


@media (max-width:  767.98px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    color: #fff;
    background-color: #007bff;
    border-radius: 0.25rem;
  }

}

///footer-bottom by zumrud
.footer_bottom{
  position: relative;
  text-align: center;
  border-top: 1px solid #fff;
  -webkit-box-pack: justify;
  background-color: #6cc32e;
}
.footerb_text{
  text-align: center;
  color: #fff;
  font-size: 14px;
}

// discount element

.dicount_text{
  
  color: #fff !important;
  font-size: 20px;
}
.discount{
  background-color: #2fdb00;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 750px) and (min-width: 360px)  {
  .ant-menu{
    width: 100% !important;
  }
 
  .btn-flip{
    left:1rem !important
  }
  .discount{
    margin-bottom: 19px;

  }
  .countdown-container{
    margin: 15px 17px;
    width: 326px !important;
    border-radius: 0px 0px 0px 0px !important;
    -webkit-border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
    -ms-border-radius: 0px 0px 0px 0px !important;
    -o-border-radius: 0px 0px 0px 0px !important;
}
.subres{
  display: flex;
  justify-content: center;
}
.carouselresp{
margin-top: 2rem;
}
 .closemenu{
  margin-left: 2% !important;
 }

  .navbar-toggler{
    background-color: rgb(108, 195, 46) !important;
    color: white !important;
    margin-left: 2% !important;
    padding: 7px 4px;
    font-size: 18px;
    padding: 13px 40px !important;

  }
  .navbar-toggler:focus {
    box-shadow: none !important;
 }
  .header{
    .navheader{
      display: inline !important;
    }

  }
  .button-container{
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  .inputBox input {
    width: 307px;}
 
  }
  .header .container .button-container button {
    margin-top: 20px;
    position: relative;
    padding: 11px 9px;
    background: rgb(108, 195, 46);
    text-transform: uppercase;
    margin-left: 2px;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }}


  @media only screen and (max-width: 1180px) and (min-width: 768px)  {
    .ant-menu{
      width: 100% !important;
    }
    .videobutton{
      margin-top: 30px;
    }
    .subres{
      display: flex;
      justify-content: center;
    }
    .countdown-container{
      margin-top: 38px !important;

    }
    .carouselresp{
      margin-top: 27px !important;

    }
    .closemenu{
      margin-left: 3% !important;
     }
  .navbar-toggler{
    background-color: rgb(108, 195, 46) !important;
    color: white !important;
    margin-left: 3% !important;
    padding: 7px 4px;
    font-size: 18px;
    padding: 13px 80px !important;

  }
    .navbar-toggler:focus {
       box-shadow: none !important;
    }
  .header{
    .navheader{
      display: inline !important;
      .button-container{
        display: inline !important;
        button{
          padding: 10px 41px !important;
        }
        .inputBox{
          justify-content: center;

        }

      }
    }
    .bravologo{
      display: block;
    margin: auto;
    }
   
  }
  }

  