.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar{
    color: #666;
    &:hover{
        color: #2fdb00 !important;
    }
    &:active{
        color: #2fdb00 !important;
    }
}
a.nav-link{
    color: #666;

    &:hover{
        color: #2fdb00 !important;
    }
    &:active{
        color: #2fdb00 !important;
    }
}



@media (max-width: 767.98px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    color: #fff;
    background-color: #007bff;
    border-radius: 0.25rem;
  }
}
