.discount-icon{
  color: #BB0000;
}
.heart-icon{
  font-size: 18px !important;
 
  overflow: hidden !important;
  color:red !important;
  overflow: hidden !important;
  &:hover{
    color:#2FDB00 !important;

    
  }
}
.basket-icon {
  font-size: 18px !important;
  color:#2FDB00 !important;
}
.share-icon{
  font-size: 18px !important;
  color:#2FDB00 !important;
}
.product-price{
  font-size: 20px!important;
}



.product_btn {
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #6cc32e;
  color: #fff;
  transition: all 0.3s ease;
}

.product_btn:hover {
  background-color: #2FDB00;
  transform: translateY(-2px);
}
.counter{
  display: flex;
  flex-direction: row;
}
